In [2]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [289]:
data = pd.read_csv('raw city data/tucson_az.csv')
# data.head()
data.shape

/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(1395365, 22)

In [290]:
data.head()

,incident_id,case_number,incident_datetime,incident_type_primary,incident_description,clearance_type,address_1,address_2,city,state,...,latitude,longitude,created_at,updated_at,location,hour_of_day,day_of_week,parent_incident_type,Tucson Police Department Neighborhood Associations Shapes - t3ee-ue34,Tucson Police Department Divisions Shapes - 8bu4-xug5
0,826668730,1711100063,11/09/2017 02:56:00 AM,3212,TRAFFIC ACCIDENT/PRP DMG/HIT-AND-RUN/MOTOR VEH...,NaN,S CAMPBELL AV & E DREXEL RD,NaN,TUCSON,AZ,...,32.148676,-110.943456,11/14/2017 01:49:08 PM,11/24/2017 10:16:30 PM,POINT (-110.94345620176111 32.14867586273264),2,Thursday,Traffic,412306.0,569574.0
1,826668732,1711100065,11/09/2017 03:13:00 AM,2702,ARREST FOR OTHER JURISDICTION/MISD CRIMINL WAR...,NaN,500 Block W AJO WAY,NaN,TUCSON,AZ,...,32.177864,-110.977518,11/14/2017 01:49:08 PM,11/24/2017 10:16:30 PM,POINT (-110.97751830144006 32.17786425688853),3,Thursday,Community Policing,NaN,569570.0
2,758053092,1604250572,04/25/2016 06:09:00 PM,Other,Contact the Tucson Police Department if you ha...,NaN,3800 Block N FLOWING WELLS RD,NaN,TUCSON,AZ,...,32.275835,-110.994943,04/27/2016 08:37:32 AM,05/25/2016 06:51:07 PM,POINT (-110.994942815655 32.2758349176723),18,Monday,Other,412227.0,569577.0
3,826668737,1711100080,11/09/2017 03:37:00 AM,0912,ASSAULT/NO INJURY - DOMESTIC VIOLENCE<br/><br/...,NaN,700 Block E UNIVERSITY BLVD,NaN,TUCSON,AZ,...,32.231624,-110.960955,11/14/2017 01:49:08 PM,11/24/2017 10:16:30 PM,POINT (-110.96095460720035 32.231624299257405),3,Thursday,Assault,412292.0,569582.0
4,826668751,1711100120,11/09/2017 04:00:00 AM,0604,LARCENY/FROM MOTOR VEHICLE<br/><br/>Contact th...,NaN,3200 Block E HAWTHORNE ST,NaN,TUCSON,AZ,...,32.233308,-110.925059,11/14/2017 01:49:08 PM,11/24/2017 10:16:32 PM,POINT (-110.9250593571503 32.23330760135101),4,Thursday,Theft from Vehicle,412246.0,569563.0

In [291]:
# data['Location1'] = ""
# data.Location1 = data["Latitude"].map(str) + data["Longitude"].map(str)
tb1 = data[['location']].copy()
tb1.head()
tb1.shape

(1395365, 1)

In [314]:
# data['Location'].value_counts()

# shows how many crimes occurred in each zipcode
new_table = data['location'].value_counts().rename_axis('Location').reset_index(name='total_crimes')
# new_table['Location']=new_table['Location'].str.split('\n',expand=True)[1]
# new_table.head()
# new_table['zipcode']=new_table['Location'].str.split('CITY',expand=True)[1]
new_table['lat1']=new_table['Location'].str.split(' ',expand=True)[1]
new_table['long1']=new_table['Location'].str.split(' ',expand=True)[2]
new_table['long']=new_table['lat1'].str.split('(',expand=True)[1]
new_table['lat']=new_table['long1'].str.split(')',expand=True)[0]

new_table = new_table.drop(['lat1','long1'], axis = 1)

new_table['lat']=pd.to_numeric(new_table['lat'])
new_table['long']=pd.to_numeric(new_table['long'])

new_table.head()

,Location,total_crimes,long,lat
0,POINT (-110.926479 32.221743),24064,-110.926479,32.221743
1,POINT (-110.968719 32.18603),2788,-110.968719,32.186030
2,POINT (-110.970583541983 32.2177385304574),2407,-110.970584,32.217739
3,POINT (-110.908578 32.249682),2049,-110.908578,32.249682
4,POINT (-110.993822 32.178578),1874,-110.993822,32.178578

In [315]:
data.shape

(1395365, 22)

In [316]:
new_table.shape

(138402, 4)

In [317]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)

for index, row in new_table.iterrows():
    lat = row['lat']
    long = row['long']
    zipcode = search.by_coordinates(lat, long, returns = 1) 
    if len(zipcode) > 0:
        blah = zipcode[0].zipcode
    else:
        blah = 0
    new_table.at[index, 'zipcode'] = blah
    if index%1000 == 0:
        print(str(index) + " still going")

0 still going
1000 still going
2000 still going
3000 still going
4000 still going
5000 still going
6000 still going
7000 still going
8000 still going
9000 still going
10000 still going
11000 still going
12000 still going
13000 still going
14000 still going
15000 still going
16000 still going
17000 still going
18000 still going
19000 still going
20000 still going
21000 still going
22000 still going
23000 still going
24000 still going
25000 still going
26000 still going
27000 still going
28000 still going
29000 still going
30000 still going
31000 still going
32000 still going
33000 still going
34000 still going
35000 still going
36000 still going
37000 still going
38000 still going
39000 still going
40000 still going
41000 still going
42000 still going
43000 still going
44000 still going
45000 still going
46000 still going
47000 still going
48000 still going
49000 still going
50000 still going
51000 still going
52000 still going
53000 still going
54000 still going
55000 still going
56000 still going
57000 still going
58000 still going
59000 still going
60000 still going
61000 still going
62000 still going
63000 still going
64000 still going
65000 still going
66000 still going
67000 still going
68000 still going
69000 still going
70000 still going
71000 still going
72000 still going
73000 still going
74000 still going
75000 still going
76000 still going
77000 still going
78000 still going
79000 still going
80000 still going
81000 still going
82000 still going
83000 still going
84000 still going
85000 still going
86000 still going
87000 still going
88000 still going
89000 still going
90000 still going
91000 still going
92000 still going
93000 still going
94000 still going
95000 still going
96000 still going
97000 still going
98000 still going
99000 still going
100000 still going
101000 still going
102000 still going
103000 still going
104000 still going
105000 still going
106000 still going
107000 still going
108000 still going
109000 still going
110000 still going
111000 still going
112000 still going
113000 still going
114000 still going
115000 still going
116000 still going
117000 still going
118000 still going
119000 still going
120000 still going
121000 still going
122000 still going
123000 still going
124000 still going
125000 still going
126000 still going
127000 still going
128000 still going
129000 still going
130000 still going
131000 still going
132000 still going
133000 still going
134000 still going
135000 still going
136000 still going
137000 still going
138000 still going

In [320]:
# tb1.at[179, 'zipcode'] = 64114
# table2 = tb1.drop(['Latitude','Longitude'], axis=1)
# d = {'total_crimes': 'sum'}
# table2 = new_table.groupby(new_table['zipcode']).aggregate(d).reset_index()
# table2 = table2.drop([0])
# table2 = table2[table2.zipcode < 64000]
# table2 = table2.drop([98,99])

# table2 = table2.sort_values(by=['zipcode'])
# table2 = table2.reset_index(drop=True)
# table2.zipcode = pd.to_numeric(table2.zipcode)

# table2 = tb1['zipcode'].value_counts().rename_axis('zipcode').reset_index(name='total_crimes')

table2.head(200)

    zipcode  total_crimes
1     19146             1
2     27608             1
3     32504             1
4     33012             1
5     34235             1
6     37042             1
7     37149             2
8     48505             1
9     56001             1
10    60626             1
11    63126             1
12    65555            79
13    65711             1
14    72102            44
15    73755            24
16    75075             1
17    76541             1
18    76849            28
19    76870             6
20    78843             1
21    80210             1
22    84738           144
23    85006             1
24    85013             1
25    85021             1
26    85031             1
27    85051             1
28    85122             5
29    85131             1
30    85132             2
..      ...           ...
85    85715         51731
86    85716        110446
87    85718           271
88    85719        175493
89    85730         40373
90    85735            58
91    85736             8
92    85737           279
93    85739            90
94    85741          1913
95    85742           133
96    85743            52
97    85745          1853
98    85746         29633
99    85747          4670
100   85748          2971
101   85749             2
102   85750           346
103   85755            51
104   85756          8557
105   85757           565
106   85935             2
107   86001            22
108   86403             2
109   86404             1
110   86426             3
111   89002             1
112   92101             1
113   98004             1
114   98007             1

[114 rows x 2 columns]

In [321]:
table2.zipcode = pd.to_numeric(table2.zipcode)
table2.zipcode.dtype

dtype('int64')

In [322]:
census = pd.read_csv('census_data.csv')
census.head()
# new_table.head()

# new_table.zipcode.dtype

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,601,18450,36.6,12041.0,7380.0,10816,58.623306
1,602,41302,38.6,15663.0,8463.0,22409,54.256452
2,603,53683,38.9,15485.0,9176.0,26220,48.842278
3,606,6591,37.3,15019.0,6383.0,3721,56.455773
4,610,28963,39.2,16707.0,7892.0,14569,50.302110

In [323]:
tb2 = table2.merge(census, left_on='zipcode', right_on='Zipcode', how='left')
tb2.head(200)

,zipcode,total_crimes,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,19146,1,19146,34837,33.2,42068.0,32882.0,8197,23.529581
1,27608,1,27608,10644,39.2,81351.0,57716.0,721,6.773769
2,32504,1,32504,21859,41.3,44837.0,26934.0,2604,11.912713
3,33012,1,33012,73805,44.6,32273.0,15832.0,15920,21.570354
4,34235,1,34235,13462,53.6,48750.0,33455.0,1886,14.009805
5,37042,1,37042,68419,27.3,46477.0,19578.0,12577,18.382321
6,37149,2,37149,2331,45.6,53828.0,24847.0,139,5.963106
7,48505,1,48505,23343,34.1,21559.0,11174.0,10185,43.631924
8,56001,1,56001,46689,27.6,44926.0,24452.0,10445,22.371437
9,60626,1,60626,51061,33.0,38734.0,24054.0,13330,26.106030
10,63126,1,63126,14920,45.7,64436.0,34290.0,588,3.941019
11,65555,79,65555,1077,52.1,38125.0,18221.0,185,17.177344
12,65711,1,65711,10178,40.4,29063.0,15358.0,2773,27.245038
13,72102,44,72102,2299,45.0,47188.0,23336.0,269,11.700739
14,73755,24,73755,719,45.0,36364.0,19288.0,72,10.013908
15,75075,1,75075,33884,41.5,72852.0,35774.0,2875,8.484831
16,76541,1,76541,18976,30.9,28946.0,15939.0,5228,27.550590
17,76849,28,76849,4005,50.5,43421.0,24672.0,826,20.624220
18,76870,6,76870,222,34.9,31979.0,15491.0,22,9.909910
19,78843,1,78843,197,20.8,NaN,23462.0,0,0.000000
20,80210,1,80210,35464,32.6,66788.0,43653.0,4350,12.265960
21,84738,144,84738,7057,42.3,54259.0,26529.0,900,12.753295
22,85006,1,85006,25097,28.4,22957.0,11979.0,12548,49.998008
23,85013,1,85013,20996,37.4,43576.0,31603.0,4085,19.456087
24,85021,1,85021,38182,33.5,38130.0,25941.0,10708,28.044628
25,85031,1,85031,29755,26.8,26187.0,9575.0,12540,42.144177
26,85051,1,85051,42860,33.5,38415.0,17411.0,10393,24.248717
27,85122,5,85122,52136,37.7,44910.0,21102.0,7774,14.911002
28,85131,1,85131,18430,32.3,28893.0,9188.0,4124,22.376560
29,85132,2,85132,34981,37.9,48135.0,13755.0,2756,7.878563
...,...,...,...,...,...,...,...,...,...
84,85715,51731,85715,19034,46.7,53943.0,32080.0,2163,11.363875
85,85716,110446,85716,33098,35.2,33058.0,25399.0,8753,26.445707
86,85718,271,85718,26932,51.8,73900.0,56854.0,2205,8.187286
87,85719,175493,85719,44220,22.9,27009.0,17625.0,14271,32.272727
88,85730,40373,85730,39142,37.1,46733.0,23423.0,6466,16.519340
89,85735,58,85735,11395,40.3,52712.0,21870.0,1970,17.288284
90,85736,8,85736,4752,36.8,42361.0,16486.0,1620,34.090909
91,85737,279,85737,21395,47.4,82754.0,40088.0,879,4.108437
92,85739,90,85739,17715,61.4,58376.0,32120.0,1485,8.382727
93,85741,1913,85741,35191,34.7,51871.0,23064.0,4306,12.236083
94,85742,133,85742,25414,38.3,66887.0,29772.0,1938,7.625718
95,85743,52,85743,28858,41.2,69577.0,32411.0,2142,7.422552
96,85745,1853,85745,37654,36.8,49380.0,27133.0,7916,21.022999
97,85746,29633,85746,42704,31.8,41427.0,16176.0,10686,25.023417
98,85747,4670,85747,23490,34.5,81474.0,31039.0,1199,5.104300
99,85748,2971,85748,18275,45.4,69871.0,34353.0,1254,6.861833
100,85749,2,85749,19107,50.4,84151.0,43241.0,1023,5.354059
101,85750,346,85750,23741,52.1,74060.0,52071.0,1108,4.667032
102,85755,51,85755,15716,55.0,75648.0,42289.0,1025,6.522016
103,85756,8557,85756,35522,31.8,46672.0,16574.0,5229,14.720455
104,85757,565,85757,18341,29.5,51220.0,16733.0,4189,22.839540
105,85935,2,85935,5264,51.2,60475.0,32061.0,898,17.059271
106,86001,22,86001,41378,28.9,46991.0,26398.0,9340,22.572381
107,86403,2,86403,15666,45.6,39751.0,21743.0,2903,18.530576
108,86404,1,86404,15893,55.6,41511.0,25294.0,2381,14.981438
109,86426,3,86426,13902,47.5,42562.0,23127.0,1738,12.501798
110,89002,1,89002,34191,36.0,76504.0,28620.0,3182,9.306543
111,92101,1,92101,35914,35.7,52550.0,46294.0,7810,21.746394
112,98004,1,98004,30072,37.4,93521.0,66689.0,2121,7.053073
113,98007,1,98007,24926,32.1,73162.0,38335.0,3160,12.677525

In [325]:

# tb2 = tb2.dropna()
# d = {'total_crimes': 'sum'}
# table2 = tb2.groupby(tb2['zipcode']).aggregate(d).reset_index()
# table2.head()
# tb2 = table2.merge(census, left_on='zipcode', right_on='Zipcode', how='left')
tb2.head(200)

,zipcode,total_crimes,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,19146,1,19146,34837,33.2,42068.0,32882.0,8197,23.529581
1,27608,1,27608,10644,39.2,81351.0,57716.0,721,6.773769
2,32504,1,32504,21859,41.3,44837.0,26934.0,2604,11.912713
3,33012,1,33012,73805,44.6,32273.0,15832.0,15920,21.570354
4,34235,1,34235,13462,53.6,48750.0,33455.0,1886,14.009805
5,37042,1,37042,68419,27.3,46477.0,19578.0,12577,18.382321
6,37149,2,37149,2331,45.6,53828.0,24847.0,139,5.963106
7,48505,1,48505,23343,34.1,21559.0,11174.0,10185,43.631924
8,56001,1,56001,46689,27.6,44926.0,24452.0,10445,22.371437
9,60626,1,60626,51061,33.0,38734.0,24054.0,13330,26.106030
10,63126,1,63126,14920,45.7,64436.0,34290.0,588,3.941019
11,65555,79,65555,1077,52.1,38125.0,18221.0,185,17.177344
12,65711,1,65711,10178,40.4,29063.0,15358.0,2773,27.245038
13,72102,44,72102,2299,45.0,47188.0,23336.0,269,11.700739
14,73755,24,73755,719,45.0,36364.0,19288.0,72,10.013908
15,75075,1,75075,33884,41.5,72852.0,35774.0,2875,8.484831
16,76541,1,76541,18976,30.9,28946.0,15939.0,5228,27.550590
17,76849,28,76849,4005,50.5,43421.0,24672.0,826,20.624220
18,76870,6,76870,222,34.9,31979.0,15491.0,22,9.909910
20,80210,1,80210,35464,32.6,66788.0,43653.0,4350,12.265960
21,84738,144,84738,7057,42.3,54259.0,26529.0,900,12.753295
22,85006,1,85006,25097,28.4,22957.0,11979.0,12548,49.998008
23,85013,1,85013,20996,37.4,43576.0,31603.0,4085,19.456087
24,85021,1,85021,38182,33.5,38130.0,25941.0,10708,28.044628
25,85031,1,85031,29755,26.8,26187.0,9575.0,12540,42.144177
26,85051,1,85051,42860,33.5,38415.0,17411.0,10393,24.248717
27,85122,5,85122,52136,37.7,44910.0,21102.0,7774,14.911002
28,85131,1,85131,18430,32.3,28893.0,9188.0,4124,22.376560
29,85132,2,85132,34981,37.9,48135.0,13755.0,2756,7.878563
30,85140,1,85140,37063,27.9,54616.0,19038.0,4993,13.471656
...,...,...,...,...,...,...,...,...,...
84,85715,51731,85715,19034,46.7,53943.0,32080.0,2163,11.363875
85,85716,110446,85716,33098,35.2,33058.0,25399.0,8753,26.445707
86,85718,271,85718,26932,51.8,73900.0,56854.0,2205,8.187286
87,85719,175493,85719,44220,22.9,27009.0,17625.0,14271,32.272727
88,85730,40373,85730,39142,37.1,46733.0,23423.0,6466,16.519340
89,85735,58,85735,11395,40.3,52712.0,21870.0,1970,17.288284
90,85736,8,85736,4752,36.8,42361.0,16486.0,1620,34.090909
91,85737,279,85737,21395,47.4,82754.0,40088.0,879,4.108437
92,85739,90,85739,17715,61.4,58376.0,32120.0,1485,8.382727
93,85741,1913,85741,35191,34.7,51871.0,23064.0,4306,12.236083
94,85742,133,85742,25414,38.3,66887.0,29772.0,1938,7.625718
95,85743,52,85743,28858,41.2,69577.0,32411.0,2142,7.422552
96,85745,1853,85745,37654,36.8,49380.0,27133.0,7916,21.022999
97,85746,29633,85746,42704,31.8,41427.0,16176.0,10686,25.023417
98,85747,4670,85747,23490,34.5,81474.0,31039.0,1199,5.104300
99,85748,2971,85748,18275,45.4,69871.0,34353.0,1254,6.861833
100,85749,2,85749,19107,50.4,84151.0,43241.0,1023,5.354059
101,85750,346,85750,23741,52.1,74060.0,52071.0,1108,4.667032
102,85755,51,85755,15716,55.0,75648.0,42289.0,1025,6.522016
103,85756,8557,85756,35522,31.8,46672.0,16574.0,5229,14.720455
104,85757,565,85757,18341,29.5,51220.0,16733.0,4189,22.839540
105,85935,2,85935,5264,51.2,60475.0,32061.0,898,17.059271
106,86001,22,86001,41378,28.9,46991.0,26398.0,9340,22.572381
107,86403,2,86403,15666,45.6,39751.0,21743.0,2903,18.530576
108,86404,1,86404,15893,55.6,41511.0,25294.0,2381,14.981438
109,86426,3,86426,13902,47.5,42562.0,23127.0,1738,12.501798
110,89002,1,89002,34191,36.0,76504.0,28620.0,3182,9.306543
111,92101,1,92101,35914,35.7,52550.0,46294.0,7810,21.746394
112,98004,1,98004,30072,37.4,93521.0,66689.0,2121,7.053073
113,98007,1,98007,24926,32.1,73162.0,38335.0,3160,12.677525

In [326]:
tb2['crime rate'] = tb2.total_crimes / tb2.Population
tb2.sort_values(by=['crime rate'], ascending=False)
tb2 = tb2.reset_index(drop = True)

In [327]:
tb2.drop(['Zipcode'], axis=1).head()

,zipcode,total_crimes,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime rate
0,19146,1,34837,33.2,42068.0,32882.0,8197,23.529581,0.000029
1,27608,1,10644,39.2,81351.0,57716.0,721,6.773769,0.000094
2,32504,1,21859,41.3,44837.0,26934.0,2604,11.912713,0.000046
3,33012,1,73805,44.6,32273.0,15832.0,15920,21.570354,0.000014
4,34235,1,13462,53.6,48750.0,33455.0,1886,14.009805,0.000074

In [330]:
tb2 = tb2.sort_values(by=['crime rate'], ascending=False)
tb2 = tb2.reset_index(drop=True)
tb2 = tb2.drop([0,1,2,3,4,5,6,7,8,9,10,11])
tb2 = tb2.reset_index(drop=True)
tb2.head(100)

,zipcode,total_crimes,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime rate
0,85746,29633,85746,42704,31.8,41427.0,16176.0,10686,25.023417,0.693916
1,85706,38102,85706,56989,27.5,29814.0,12164.0,20916,36.701820,0.668585
2,85756,8557,85756,35522,31.8,46672.0,16574.0,5229,14.720455,0.240893
3,85747,4670,85747,23490,34.5,81474.0,31039.0,1199,5.104300,0.198808
4,85748,2971,85748,18275,45.4,69871.0,34353.0,1254,6.861833,0.162572
5,85321,433,85321,4727,45.2,28053.0,17453.0,1782,37.698329,0.091601
6,85634,546,85634,5982,29.4,27854.0,10733.0,2290,38.281511,0.091274
7,65555,79,65555,1077,52.1,38125.0,18221.0,185,17.177344,0.073352
8,85741,1913,85741,35191,34.7,51871.0,23064.0,4306,12.236083,0.054360
9,85745,1853,85745,37654,36.8,49380.0,27133.0,7916,21.022999,0.049211
10,73755,24,73755,719,45.0,36364.0,19288.0,72,10.013908,0.033380
11,85640,16,85640,487,62.1,23500.0,20210.0,78,16.016427,0.032854
12,85757,565,85757,18341,29.5,51220.0,16733.0,4189,22.839540,0.030805
13,76870,6,76870,222,34.9,31979.0,15491.0,22,9.909910,0.027027
14,85622,180,85622,6752,70.5,57763.0,40227.0,258,3.821090,0.026659
15,85641,557,85641,22293,36.8,81917.0,32574.0,1143,5.127170,0.024985
16,85704,681,85704,30665,48.8,52918.0,33078.0,2840,9.261373,0.022208
17,84738,144,84738,7057,42.3,54259.0,26529.0,900,12.753295,0.020405
18,85614,442,85614,21998,68.4,47329.0,32052.0,1127,5.123193,0.020093
19,72102,44,72102,2299,45.0,47188.0,23336.0,269,11.700739,0.019139
20,85750,346,85750,23741,52.1,74060.0,52071.0,1108,4.667032,0.014574
21,85737,279,85737,21395,47.4,82754.0,40088.0,879,4.108437,0.013040
22,85718,271,85718,26932,51.8,73900.0,56854.0,2205,8.187286,0.010062
23,85541,209,85541,21559,52.8,41222.0,23543.0,3033,14.068371,0.009694
24,85643,76,85643,9233,40.9,43465.0,22365.0,1204,13.040182,0.008231
25,85629,193,85629,23839,33.0,63343.0,25160.0,1697,7.118587,0.008096
26,76849,28,76849,4005,50.5,43421.0,24672.0,826,20.624220,0.006991
27,85621,151,85621,22928,34.2,26525.0,14072.0,8037,35.053210,0.006586
28,85645,11,85645,1922,41.3,51170.0,22291.0,190,9.885536,0.005723
29,85141,2,85141,371,45.7,29063.0,10449.0,89,23.989218,0.005391
...,...,...,...,...,...,...,...,...,...,...
70,85132,2,85132,34981,37.9,48135.0,13755.0,2756,7.878563,0.000057
71,85202,2,85202,36672,31.7,42649.0,22844.0,7776,21.204188,0.000055
72,85131,1,85131,18430,32.3,28893.0,9188.0,4124,22.376560,0.000054
73,76541,1,76541,18976,30.9,28946.0,15939.0,5228,27.550590,0.000053
74,85648,1,85648,19205,31.1,47677.0,18137.0,3651,19.010674,0.000052
75,85013,1,85013,20996,37.4,43576.0,31603.0,4085,19.456087,0.000048
76,32504,1,32504,21859,41.3,44837.0,26934.0,2604,11.912713,0.000046
77,85350,1,85350,22592,28.0,30720.0,10255.0,5880,26.026912,0.000044
78,48505,1,48505,23343,34.1,21559.0,11174.0,10185,43.631924,0.000043
79,85212,1,85212,24433,29.3,77704.0,24972.0,2000,8.185651,0.000041
80,85395,1,85395,24587,42.4,75271.0,32884.0,1000,4.067190,0.000041
81,98007,1,98007,24926,32.1,73162.0,38335.0,3160,12.677525,0.000040
82,85006,1,85006,25097,28.4,22957.0,11979.0,12548,49.998008,0.000040
83,85331,1,85331,27327,45.1,88938.0,43052.0,1387,5.075566,0.000037
84,85031,1,85031,29755,26.8,26187.0,9575.0,12540,42.144177,0.000034
85,98004,1,98004,30072,37.4,93521.0,66689.0,2121,7.053073,0.000033
86,75075,1,75075,33884,41.5,72852.0,35774.0,2875,8.484831,0.000030
87,89002,1,89002,34191,36.0,76504.0,28620.0,3182,9.306543,0.000029
88,85635,1,85635,34563,36.4,53510.0,26582.0,4639,13.421867,0.000029
89,19146,1,19146,34837,33.2,42068.0,32882.0,8197,23.529581,0.000029
90,80210,1,80210,35464,32.6,66788.0,43653.0,4350,12.265960,0.000028
91,92101,1,92101,35914,35.7,52550.0,46294.0,7810,21.746394,0.000028
92,85364,2,85364,73129,31.0,39102.0,18022.0,15359,21.002612,0.000027
93,85140,1,85140,37063,27.9,54616.0,19038.0,4993,13.471656,0.000027
94,85021,1,85021,38182,33.5,38130.0,25941.0,10708,28.044628,0.000026
95,85051,1,85051,42860,33.5,38415.0,17411.0,10393,24.248717,0.000023
96,56001,1,56001,46689,27.6,44926.0,24452.0,10445,22.371437,0.000021
97,60626,1,60626,51061,33.0,38734.0,24054.0,13330,26.106030,0.000020
98,85204,1,85204,60819,31.4,42768.0,18603.0,11858,19.497197,0.000016
99,37042,1,37042,68419,27.3,46477.0,19578.0,12577,18.382321,0.000015

In [331]:
tb2.to_csv('tucson_census.csv', encoding='utf-8', index=False)