In [2]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
census = pd.read_csv('data/census_crime_data_cleaned.csv')
census.head()

,Zipcode,Population,MedianAge,HouseholdIncome,PerCapitaIncome,PovertyCount,PovertyRate,crime_rate,crime_rating
0,64120,346,58.5,57674,33291,43,12.427746,1.141618,High
1,64161,328,43.8,63281,31019,15,4.573171,0.490854,High
2,64106,8125,28.1,25649,18949,3773,46.436923,0.347446,High
3,64127,15419,34.5,21494,12924,6167,39.996109,0.228484,High
4,64130,21000,39.2,28493,15238,6003,28.585714,0.224619,High

In [4]:
census.shape

(112, 9)

In [5]:
print(list(census.head(0)))

['Zipcode', 'Population', 'MedianAge', 'HouseholdIncome', 'PerCapitaIncome', 'PovertyCount', 'PovertyRate', 'crime_rate', 'crime_rating']

In [8]:
X = census[["MedianAge", "HouseholdIncome", "PerCapitaIncome", "PovertyRate"]]
y = census["crime_rate"].values.reshape(-1, 1)

# # Fitting our model with all of our features in X
# model.fit(X, y)

# score = model.score(X, y)
# print(f"R2 Score: {score}")

In [9]:
#splitting into train and test data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [ ]:
# ["MedianAge", "HouseholdIncome", "PerCapitaIncome", "PovertyRate"]

In [22]:
X_train.head()

    MedianAge  HouseholdIncome  PerCapitaIncome  PovertyRate
81       42.3            64111            29009     6.836978
77       50.7            88469            57261     9.782609
15       36.2            32377            19682    32.890110
30       33.6            73125            29243    11.885085
45       44.4            43906            25681     8.433735

In [31]:
newXtrain = np.vstack([X_train.MedianAge, X_train.HouseholdIncome, X_train.PerCapitaIncome,
                     X_train.PovertyRate]).T
newytrain = np.array(y_train)

In [33]:
from sklearn.neighbors.kde import KernelDensity
kde = KernelDensity(kernel='gaussian', bandwidth=0.2)
kde.fit(X_train)

KernelDensity(algorithm='auto', atol=0, bandwidth=0.2, breadth_first=True,
       kernel='gaussian', leaf_size=40, metric='euclidean',
       metric_params=None, rtol=0)

# TO BE CONTINUED!!