In [1]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [6]:
kansascity = pd.read_csv('data/crime and census/combined_cleaned_encode.csv')
kansascity = kansascity.drop(['crime_rating'], axis = 1)
kansascity = kansascity.rename(index=str, columns={
    "MedianAge": "Median Age", 
    "HouseholdIncome": "Household Income",
    "PerCapitaIncome": "Per Capita Income",
    "PovertyCount": "Poverty Count",
    "PovertyRate": "Poverty Rate"})
kansascity.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime_rate
0,64120,346,58.5,57674,33291,43,12.427746,1.141618
1,64161,328,43.8,63281,31019,15,4.573171,0.490854
2,64106,8125,28.1,25649,18949,3773,46.436923,0.347446
3,64127,15419,34.5,21494,12924,6167,39.996109,0.228484
4,64130,21000,39.2,28493,15238,6003,28.585714,0.224619

In [5]:
kansascity.isnull().any()

Zipcode               False
Population            False
Median Age            False
Household Income      False
Per Capital Income    False
Poverty Count         False
Poverty Rate          False
crime_rate            False
dtype: bool

In [60]:
kansascity = kansascity.rename(index=str, columns={"Zipcode": "zipcode"})

In [7]:
atlanta = pd.read_csv('data/crime and census/atlanta_census.csv')
atlanta.head()

,zipcode,total_crimes,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,30308,2074,16434.0,30.2,51584.0,42155.0,3503.0,21.315565
1,30363,1726,2845.0,27.8,56806.0,41158.0,687.0,24.147627
2,30311,1559,36074.0,36.4,27651.0,17213.0,12957.0,35.917836
3,30310,1493,27775.0,36.6,22861.0,14667.0,10632.0,38.279028
4,30318,1378,53622.0,29.7,39421.0,25451.0,16432.0,30.644139

In [8]:
# atlanta["crime_rate"] = ""
atlanta["crime_rate"] = atlanta["total_crimes"]/atlanta["Population"]
atlanta.head()

,zipcode,total_crimes,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime_rate
0,30308,2074,16434.0,30.2,51584.0,42155.0,3503.0,21.315565,0.126202
1,30363,1726,2845.0,27.8,56806.0,41158.0,687.0,24.147627,0.606678
2,30311,1559,36074.0,36.4,27651.0,17213.0,12957.0,35.917836,0.043217
3,30310,1493,27775.0,36.6,22861.0,14667.0,10632.0,38.279028,0.053753
4,30318,1378,53622.0,29.7,39421.0,25451.0,16432.0,30.644139,0.025698

In [9]:
atlanta = atlanta.drop(["total_crimes"], axis=1)
atlanta.head()

,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime_rate
0,30308,16434.0,30.2,51584.0,42155.0,3503.0,21.315565,0.126202
1,30363,2845.0,27.8,56806.0,41158.0,687.0,24.147627,0.606678
2,30311,36074.0,36.4,27651.0,17213.0,12957.0,35.917836,0.043217
3,30310,27775.0,36.6,22861.0,14667.0,10632.0,38.279028,0.053753
4,30318,53622.0,29.7,39421.0,25451.0,16432.0,30.644139,0.025698

In [13]:
atlanta.shape

(34, 8)

In [15]:
atl = atlanta.dropna()
atlanta = atl
atlanta.shape

(32, 8)

In [17]:
baltimore = pd.read_csv('data/crime and census/baltimore_census.csv')
baltimore["crime_rate"] = ""
baltimore["crime_rate"] = baltimore["total_crimes"]/baltimore["Population"]
baltimore = baltimore.drop(["total_crimes"], axis=1)
baltimore.head()

,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime_rate
0,21201,15867.0,29.5,27465.0,26154.0,5651.0,35.614798,1.913027
1,21217,40443.0,33.2,26187.0,18309.0,13434.0,33.217120,0.645377
2,21231,16801.0,31.5,53750.0,34859.0,4968.0,29.569668,1.546337
3,21205,16100.0,28.7,25522.0,12944.0,5379.0,33.409938,1.600435
4,21202,22700.0,31.3,30425.0,20318.0,6154.0,27.110132,1.115639

In [19]:
# baltimore.isnull().any()
baltimore.shape

(27, 8)

In [24]:
# baltimore.isnull()
baltimore = baltimore.dropna()
baltimore.shape
# baltimore.head(30)

(26, 8)

In [25]:
detroit = pd.read_csv('data/crime and census/detroit_census.csv')
detroit["crime_rate"] = ""
detroit["crime_rate"] = detroit["total_crimes"]/detroit["Population"]
detroit = detroit.drop(["total_crimes"], axis=1)
detroit.head()

,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime_rate
0,48227,45214.0,35.5,28994.0,15072.0,16064.0,35.528819,0.304065
1,48235,46368.0,39.3,28897.0,17256.0,15387.0,33.184524,0.250518
2,48205,38688.0,30.0,26648.0,12743.0,16397.0,42.382651,0.258762
3,48219,47821.0,36.6,32416.0,17331.0,15274.0,31.939943,0.191359
4,48224,44877.0,31.7,30457.0,14826.0,16586.0,36.958798,0.181585

In [26]:
detroit.shape

(54, 8)

In [34]:
# detroit.isnull()
# detroit = detroit.dropna()
detroit.shape
# detroit.head(60)

(51, 8)

In [33]:
orlando = pd.read_csv('data/crime and census/orlando_census.csv')
orlando["crime_rate"] = ""
orlando["crime_rate"] = orlando["total_crimes"]/orlando["Population"]
orlando = orlando.drop(["total_crimes"], axis=1)
orlando.head()

,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime_rate
0,32805.0,22001.0,36.2,23950.0,14649.0,7757.0,35.257488,1.034453
1,32801.0,11237.0,37.4,47151.0,40726.0,2071.0,18.430186,2.567500
2,32803.0,17680.0,39.4,53101.0,40884.0,1950.0,11.029412,0.588292
3,32804.0,16826.0,40.4,58548.0,42558.0,1911.0,11.357423,0.428266
4,32811.0,38301.0,29.8,34189.0,15654.0,9663.0,25.229106,0.567244

In [35]:
orlando.shape

(37, 8)

In [38]:
# orlando.isnull()
orlando = orlando.dropna()
orlando.shape

(36, 8)

In [41]:
philly = pd.read_csv('data/crime and census/philly_census.csv')
philly["crime_rate"] = ""
philly["crime_rate"] = philly["total_crimes"]/philly["Population"]
philly = philly.drop(["total_crimes"], axis=1)
philly.head()

,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime_rate
0,19139,43181,32.1,24627.0,14663.0,15780,36.543850,4.288205
1,19120,76430,28.5,33966.0,14324.0,24323,31.823891,1.298221
2,19140,53778,32.6,22654.0,12868.0,22942,42.660568,2.054558
3,19148,51455,36.2,39413.0,21209.0,11323,22.005636,1.538509
4,19141,32058,35.5,29601.0,16882.0,9599,29.942604,2.496226

In [44]:
philly.shape

(63, 8)

In [45]:
# orlando.isnull()
philly = philly.dropna()
philly.shape

(61, 8)

In [54]:
tucson = pd.read_csv('data/crime and census/tucson_census.csv')
tucson.head()

,zipcode,total_crime,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,85701,175582,4889.0,38.7,34017.0,24725.0,1585.0,32.419718
1,85719,175493,44220.0,22.9,27009.0,17625.0,14271.0,32.272727
2,85714,145788,13725.0,34.4,24874.0,12298.0,4286.0,31.227687
3,85710,99301,55323.0,42.3,42204.0,23515.0,8388.0,15.161868
4,85712,120089,33830.0,36.9,31290.0,22504.0,8742.0,25.840970

In [55]:
tucson["crime_rate"] = ""
tucson["crime_rate"] = tucson["total_crime"]/tucson["Population"]
tucson = tucson.drop(["total_crime"], axis=1)
tucson.head()
# tucson.isnull().values.any()

,zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,crime_rate
0,85701,4889.0,38.7,34017.0,24725.0,1585.0,32.419718,35.913684
1,85719,44220.0,22.9,27009.0,17625.0,14271.0,32.272727,3.968634
2,85714,13725.0,34.4,24874.0,12298.0,4286.0,31.227687,10.622077
3,85710,55323.0,42.3,42204.0,23515.0,8388.0,15.161868,1.794932
4,85712,33830.0,36.9,31290.0,22504.0,8742.0,25.840970,3.549778

In [56]:
tucson.shape

(115, 8)

In [57]:
tucson = tucson.dropna()
tucson.shape

(113, 8)

In [88]:
mytable = pd.concat([kansascity, atlanta, baltimore,
          detroit, orlando, philly, tucson], ignore_index=True)
mytable.to_csv('combined_cities_census.csv', 
               encoding='utf-8', index=False)

In [63]:
mytable.isnull().values.any()

False

In [64]:
print(str(kansascity.shape) + ',' +
str(atlanta.shape) + ',' +
str(baltimore.shape) + ',' +
str(detroit.shape) + ',' +
str(orlando.shape) + ',' +
str(philly.shape) + ',' +
str(tucson.shape))

(112, 8),(32, 8),(26, 8),(51, 8),(36, 8),(61, 8),(113, 8)

In [65]:
array = ["Median Age", "Household Income", "Per Capita Income", "Poverty Count", "Poverty Rate"]

In [66]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

for variable in array:
    X = mytable[variable].values.reshape(-1, 1)
    y = mytable["crime_rate"].values.reshape(-1, 1)

    # Fitting our model with all of our features in X
    model.fit(X, y)

    score = model.score(X, y)
    print(f"{variable} - R2 Score: {score}")

Median Age - R2 Score: 0.005634975407487364
Household Income - R2 Score: 0.00309004384518341
Per Capita Income - R2 Score: 2.0970628569538796e-05
Poverty Count - R2 Score: 0.002582607405453352
Poverty Rate - R2 Score: 0.010448062546110859

/usr/local/lib/python3.6/site-packages/sklearn/linear_model/base.py:485: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  linalg.lstsq(X, y)

In [79]:
X = mytable[["Poverty Rate", "Median Age", 
             "Per Capita Income", "Household Income"]]
y = mytable["crime_rate"].values.reshape(-1, 1)

# Fitting our model with all of our features in X
model.fit(X, y)

score = model.score(X, y)
print(f"R2 Score: {score}")

R2 Score: 0.018529820802902885

In [86]:
#splitting into train and test data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
#retraining model with train data
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [87]:
print(f"Training Data Score: {model.score(X_train, y_train)}")
print(f"Testing Data Score: {model.score(X_test, y_test)}")

Training Data Score: 0.013296008493797862
Testing Data Score: 0.01989773984504839