In [14]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [15]:
census = pd.read_csv('data/census_crime_data_cleaned.csv')
census.head()

,Zipcode,Population,MedianAge,HouseholdIncome,PerCapitaIncome,PovertyCount,PovertyRate,crime_rate,crime_rating
0,64120,346,58.5,57674,33291,43,12.427746,1.141618,High
1,64161,328,43.8,63281,31019,15,4.573171,0.490854,High
2,64106,8125,28.1,25649,18949,3773,46.436923,0.347446,High
3,64127,15419,34.5,21494,12924,6167,39.996109,0.228484,High
4,64130,21000,39.2,28493,15238,6003,28.585714,0.224619,High

In [16]:
census.shape

(112, 9)

In [17]:
print(list(census.head(0)))

['Zipcode', 'Population', 'MedianAge', 'HouseholdIncome', 'PerCapitaIncome', 'PovertyCount', 'PovertyRate', 'crime_rate', 'crime_rating']

In [18]:
for index, row in census.iterrows():
    if(row['crime_rating'] == "High"):
        blah = 2
    elif(row['crime_rating'] == 'Medium'):
        blah = 1
    else:
        blah = 0
    census.at[index, 'encode'] = blah
census.head()

,Zipcode,Population,MedianAge,HouseholdIncome,PerCapitaIncome,PovertyCount,PovertyRate,crime_rate,crime_rating,encode
0,64120,346,58.5,57674,33291,43,12.427746,1.141618,High,2.0
1,64161,328,43.8,63281,31019,15,4.573171,0.490854,High,2.0
2,64106,8125,28.1,25649,18949,3773,46.436923,0.347446,High,2.0
3,64127,15419,34.5,21494,12924,6167,39.996109,0.228484,High,2.0
4,64130,21000,39.2,28493,15238,6003,28.585714,0.224619,High,2.0

In [19]:
target = census["encode"]
target_names = ["Low", "Medium", "High"]

In [20]:
#data = census.drop(["crime_rating", "encode"], axis=1)
data = census[["PovertyRate", "crime_rate"]]
feature_names = data.columns
data.head()

   PovertyRate  crime_rate
0    12.427746    1.141618
1     4.573171    0.490854
2    46.436923    0.347446
3    39.996109    0.228484
4    28.585714    0.224619

In [21]:
X, y =

SyntaxError: invalid syntax (<ipython-input-21-7525fe3e565b>, line 1)

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [23]:
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='linear',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [24]:
# WARNING! BOILERPLATE CODE HERE!
# Plot the decision boundaries
x_min = X[:, 0].min()
x_max = X[:, 0].max()
y_min = X[:, 1].min()
y_max = X[:, 1].max()

XX, YY = np.mgrid[x_min:x_max, y_min:y_max]
Z = model.decision_function(np.c_[XX.ravel(), YY.ravel()])

# Put the result into a color plot
Z = Z.reshape(XX.shape)
# plt.pcolormesh(XX, YY, Z > 0, cmap=plt.cm.Paired)
plt.contour(XX, YY, Z, colors=['k', 'k', 'k'],
            linestyles=['--', '-', '--'], levels=[-.5, 0, .5])
plt.scatter(X[:, 0], X[:, 1], c=y, cmap='bwr', edgecolor='k', s=100)
plt.show()

NameError: name 'X' is not defined

In [25]:
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.607

In [26]:
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions,
                            target_names=target_names))

             precision    recall  f1-score   support

        Low       0.52      1.00      0.69        12
     Medium       0.00      0.00      0.00         7
       High       1.00      0.56      0.71         9

avg / total       0.55      0.61      0.52        28

C:\Users\thats\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)