In [26]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [27]:
data = pd.read_csv('raw_atlanta.csv')
data.head()

ParserError: Error tokenizing data. C error: Expected 21 fields in line 5441, saw 22

In [3]:
# data['Location'].value_counts()

# shows how many crimes occurred in each zipcode
new_table = data['Location'].value_counts().rename_axis('lat_long').reset_index(name='total_crime')
new_table.head()
# new_table.shape

                           lat_long  total_crime
0  location\n(32.02636, -127.91418)          338
1   location\n(42.43144, -83.10231)          153
2   location\n(42.36631, -83.08365)           74
3   location\n(42.40173, -83.19261)           69
4   location\n(42.34368, -83.19747)           55

In [4]:
new_table['lat']=new_table['lat_long'].str.split(',',expand=True)[0]
new_table['long']=new_table['lat_long'].str.split(',',expand=True)[1]
for index, row in new_table.iterrows():
    new_lat = row.lat[1:]
    new_table.at[index, 'lat'] = new_lat
    new_long = row.long[:-1]
    new_table.at[index, 'long'] = new_long
#removes :
# s = ":dfa:sif:e"
# print(s[1:])

# crime['Zipcode']=test.str.split(' ',expand=True)[1]

In [5]:
new_table.head()
new_table['lat']=new_table['lat'].str.split('(',expand=True)[1]

In [6]:
new_table.head()

                           lat_long  total_crime       lat         long
0  location\n(32.02636, -127.91418)          338  32.02636   -127.91418
1   location\n(42.43144, -83.10231)          153  42.43144    -83.10231
2   location\n(42.36631, -83.08365)           74  42.36631    -83.08365
3   location\n(42.40173, -83.19261)           69  42.40173    -83.19261
4   location\n(42.34368, -83.19747)           55  42.34368    -83.19747

In [7]:
new_table.shape

(136839, 4)

In [8]:
data.shape

(163133, 24)

In [9]:
new_table['zipcode'] = ""
new_table.head()

,lat_long,total_crime,lat,long,zipcode
0,"location\n(32.02636, -127.91418)",338,32.02636,-127.91418,
1,"location\n(42.43144, -83.10231)",153,42.43144,-83.10231,
2,"location\n(42.36631, -83.08365)",74,42.36631,-83.08365,
3,"location\n(42.40173, -83.19261)",69,42.40173,-83.19261,
4,"location\n(42.34368, -83.19747)",55,42.34368,-83.19747,

In [10]:
new_table['lat'] = pd.to_numeric(new_table['lat'])
new_table['long'] = pd.to_numeric(new_table['long'])

new_table.long.dtype

dtype('float64')

In [11]:
from uszipcode import SearchEngine
search = SearchEngine(simple_zipcode=True)

In [12]:
for index, row in new_table.iterrows():
    lat = row['lat']
    long = row['long']
    zipcode = search.by_coordinates(lat, long, returns = 1) 
    if len(zipcode) > 0:
        blah = zipcode[0].zipcode
    else:
        blah = 0
    new_table.at[index, 'zipcode'] = blah
    if index%100 == 0:
        print("still going")

still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going

still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going
still going

still going
still going
still going

In [16]:
test = new_table
test.head()

                           lat_long  total_crime       lat       long zipcode
0  location\n(32.02636, -127.91418)          338  32.02636 -127.91418       0
1   location\n(42.43144, -83.10231)          153  42.43144  -83.10231   48203
2   location\n(42.36631, -83.08365)           74  42.36631  -83.08365   48202
3   location\n(42.40173, -83.19261)           69  42.40173  -83.19261   48227
4   location\n(42.34368, -83.19747)           55  42.34368  -83.19747   48126

In [17]:
new_table.zipcode.value_counts()

48227    11789
48235    10135
48205     8425
48219     7976
48224     7080
48126     6279
48223     5973
48221     5556
48234     5366
48238     5343
48201     5337
48204     5169
48213     4522
48210     3914
48203     3652
48209     3193
48207     3107
48206     3057
48202     3036
48215     2961
48216     2368
48233     2337
48214     2189
48243     2163
48212     1891
48225     1755
48240     1720
48208     1630
48211     1467
48127     1382
48030     1374
48226      996
48217      834
48075      746
48239      738
48236      476
48220      256
48230      208
48146      158
48089      145
48229       53
48122       24
48124       15
48091        9
48128        6
48218        6
48080        5
48237        4
48120        4
48125        3
48195        3
48101        2
48015        1
0            1
Name: zipcode, dtype: int64

In [18]:
table2 = new_table['zipcode'].value_counts().rename_axis('zipcode').reset_index(name='total_count')
table2.head()

  zipcode  total_count
0   48227        11789
1   48235        10135
2   48205         8425
3   48219         7976
4   48224         7080

In [20]:
# table2 = table2.drop(['total_count'], axis=1)
table2['total_crimes'] = ""
table2.head()

  zipcode  total_count total_crimes
0   48227        11789
1   48235        10135
2   48205         8425
3   48219         7976
4   48224         7080

In [21]:
new_table.head()

                           lat_long  total_crime       lat       long zipcode
0  location\n(32.02636, -127.91418)          338  32.02636 -127.91418       0
1   location\n(42.43144, -83.10231)          153  42.43144  -83.10231   48203
2   location\n(42.36631, -83.08365)           74  42.36631  -83.08365   48202
3   location\n(42.40173, -83.19261)           69  42.40173  -83.19261   48227
4   location\n(42.34368, -83.19747)           55  42.34368  -83.19747   48126

In [22]:
for index, row in table2.iterrows():
    look = row['zipcode']
    total = 0
    for index2, row2 in new_table.iterrows():
        if row2.zipcode == look:
            total = total + row2.total_crime
    table2.at[index, 'total_crimes'] = total
#     print(row['total_crimes'])

In [23]:
table2.head()

  zipcode  total_count total_crimes
0   48227        11789        13748
1   48235        10135        11616
2   48205         8425        10011
3   48219         7976         9151
4   48224         7080         8149

In [24]:
table2 = table2.drop(['total_count'], axis=1)
table2.head()

  zipcode total_crimes
0   48227        13748
1   48235        11616
2   48205        10011
3   48219         9151
4   48224         8149

In [25]:
table2.to_csv('detroit.csv', encoding='utf-8', index=False)