In [1]:
 %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [5]:
census = pd.read_csv('data/census_data.csv')
census.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,601,18450,36.6,12041.0,7380.0,10816,58.623306
1,602,41302,38.6,15663.0,8463.0,22409,54.256452
2,603,53683,38.9,15485.0,9176.0,26220,48.842278
3,606,6591,37.3,15019.0,6383.0,3721,56.455773
4,610,28963,39.2,16707.0,7892.0,14569,50.302110

In [9]:
crime = pd.read_csv('data/KCPD_Crime_Data_2017.csv')
crime.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Rep_Dist,Area,DVFlag,Invl_No,Involvement,Race,Sex,Age,Firearm Used Flag,Location
0,170086272,10/5/2017,10:00,10/4/2017,16:00,10/5/2017,10:00,690,23H,Stealing All Other,...,PJ4582,MPD,U,1,SUS,U,U,NaN,N,"400 W 58 ST\nKANSAS CITY 64113\n(39.022397, -9..."
1,170026074,4/12/2017,13:01,3/20/2017,11:30,4/11/2017,0:45,630,23C,Stealing Shoplifting,...,PJ2875,EPD,U,1,VIC,NaN,NaN,NaN,N,3500 PROSPECT AV\nKANSAS CITY 64127
2,170003559,1/15/2017,2:35,1/15/2017,2:35,NaN,NaN,1850,35B,Possession of Drug E,...,PP0269,NPD,U,1,ARR,B,M,23.0,N,N NW GREEN HILLS RD\nKANSAS CITY 64152
3,170001089,1/5/2017,11:40,1/5/2017,11:40,NaN,NaN,1849,35A,Possession/Sale/Dist,...,PJ1046,CPD,U,1,VIC,NaN,NaN,NaN,N,"1100 TROOST AV\nKANSAS CITY 64106\n(39.10068, ..."
4,170007467,1/30/2017,13:04,1/27/2017,21:25,1/27/2017,22:30,670,23D,Stealing from Buildi,...,PJ2012,EPD,U,1,VIC,B,F,38.0,N,"4800 E 24 ST\nKANSAS CITY 64127\n(39.08209, -9..."

In [10]:
crime.Location.head(20)

0     400 W 58 ST\nKANSAS CITY 64113\n(39.022397, -9...
1                   3500 PROSPECT AV\nKANSAS CITY 64127
2                N NW GREEN HILLS RD\nKANSAS CITY 64152
3     1100 TROOST AV\nKANSAS CITY 64106\n(39.10068, ...
4     4800 E 24 ST\nKANSAS CITY 64127\n(39.08209, -9...
5     4300 N CORRINGTON AV\nKANSAS CITY 64116\n(39.1...
6     1100 WOODLAND AV\nKANSAS CITY 64106\n(39.10045...
7                 68 ST and OLIVE ST\nKANSAS CITY 64132
8                       6600 E 23 TR\nKANSAS CITY 64127
9     1700 MAIN ST\nKANSAS CITY 64105\n(39.093261, -...
10                     11600 E US\nHW KANSAS CITY 64133
11                    E BANNISTER RD\nKANSAS CITY 64134
12                           LINWOOD\nKANSAS CITY 64109
13                      4400 E 39 ST\nKANSAS CITY 64130
14                        00 W 38 ST\nKANSAS CITY 64111
15    3300 WEST COLEMAN RD\nKANSAS CITY 64111\n(39.0...
16    2900 DENVER AV\nKANSAS CITY 64128\n(39.072637,...
17    5500 N SCANDIA LN\nKANSAS CITY 64118\n(39.1932...
18               73 ST and MYRTLE AV\nKANSAS CITY 64132
19    3000 BLUE RIDGE\nBL KANSAS CITY 64129\n(39.068...
Name: Location, dtype: object

In [12]:
crime[['Address 1', 'Address 2', 'Coordinates']] = crime['Location'].str.split('\n',expand=True)

In [13]:
crime.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Invl_No,Involvement,Race,Sex,Age,Firearm Used Flag,Location,Address 1,Address 2,Coordinates
0,170086272,10/5/2017,10:00,10/4/2017,16:00,10/5/2017,10:00,690,23H,Stealing All Other,...,1,SUS,U,U,NaN,N,"400 W 58 ST\nKANSAS CITY 64113\n(39.022397, -9...",400 W 58 ST,KANSAS CITY 64113,"(39.022397, -94.59269)"
1,170026074,4/12/2017,13:01,3/20/2017,11:30,4/11/2017,0:45,630,23C,Stealing Shoplifting,...,1,VIC,NaN,NaN,NaN,N,3500 PROSPECT AV\nKANSAS CITY 64127,3500 PROSPECT AV,KANSAS CITY 64127,None
2,170003559,1/15/2017,2:35,1/15/2017,2:35,NaN,NaN,1850,35B,Possession of Drug E,...,1,ARR,B,M,23.0,N,N NW GREEN HILLS RD\nKANSAS CITY 64152,N NW GREEN HILLS RD,KANSAS CITY 64152,None
3,170001089,1/5/2017,11:40,1/5/2017,11:40,NaN,NaN,1849,35A,Possession/Sale/Dist,...,1,VIC,NaN,NaN,NaN,N,"1100 TROOST AV\nKANSAS CITY 64106\n(39.10068, ...",1100 TROOST AV,KANSAS CITY 64106,"(39.10068, -94.569846)"
4,170007467,1/30/2017,13:04,1/27/2017,21:25,1/27/2017,22:30,670,23D,Stealing from Buildi,...,1,VIC,B,F,38.0,N,"4800 E 24 ST\nKANSAS CITY 64127\n(39.08209, -9...",4800 E 24 ST,KANSAS CITY 64127,"(39.08209, -94.52746)"

In [22]:
crime['Zipcode'] = ""
crime.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Involvement,Race,Sex,Age,Firearm Used Flag,Location,Address 1,Address 2,Coordinates,Zipcode
0,170086272,10/5/2017,10:00,10/4/2017,16:00,10/5/2017,10:00,690,23H,Stealing All Other,...,SUS,U,U,NaN,N,"400 W 58 ST\nKANSAS CITY 64113\n(39.022397, -9...",400 W 58 ST,KANSAS CITY 64113,"(39.022397, -94.59269)",
1,170026074,4/12/2017,13:01,3/20/2017,11:30,4/11/2017,0:45,630,23C,Stealing Shoplifting,...,VIC,NaN,NaN,NaN,N,3500 PROSPECT AV\nKANSAS CITY 64127,3500 PROSPECT AV,KANSAS CITY 64127,None,
2,170003559,1/15/2017,2:35,1/15/2017,2:35,NaN,NaN,1850,35B,Possession of Drug E,...,ARR,B,M,23.0,N,N NW GREEN HILLS RD\nKANSAS CITY 64152,N NW GREEN HILLS RD,KANSAS CITY 64152,None,
3,170001089,1/5/2017,11:40,1/5/2017,11:40,NaN,NaN,1849,35A,Possession/Sale/Dist,...,VIC,NaN,NaN,NaN,N,"1100 TROOST AV\nKANSAS CITY 64106\n(39.10068, ...",1100 TROOST AV,KANSAS CITY 64106,"(39.10068, -94.569846)",
4,170007467,1/30/2017,13:04,1/27/2017,21:25,1/27/2017,22:30,670,23D,Stealing from Buildi,...,VIC,B,F,38.0,N,"4800 E 24 ST\nKANSAS CITY 64127\n(39.08209, -9...",4800 E 24 ST,KANSAS CITY 64127,"(39.08209, -94.52746)",

In [57]:
test=crime['Address 2'].str.split('KANSAS CITY',expand=True)[1]
crime['Zipcode']=test.str.split(' ',expand=True)[1]

In [61]:
# crime['Zipcode'].value_counts()
# crime['Zipcode'] = pd.to_numeric(crime['Zipcode'])
print(crime.loc[[73313]])

       Report_No Reported_Date Reported_Time  From_Date From_Time To_Date  \
73313  170046312     5/19/2017         21:49  5/19/2017     21:30     NaN

      To_Time  Offense IBRS      Description   ...    Involvement Race Sex  \
73313     NaN     1401  290  Property Damage   ...            SUS    U   U

       Age Firearm Used Flag                                       Location  \
73313  NaN                 N  125 TE and STATE LINE RD\nKANSAS CITY M 64114

                      Address 1            Address 2 Coordinates Zipcode
73313  125 TE and STATE LINE RD  KANSAS CITY M 64114        None       M

[1 rows x 28 columns]

In [63]:
crime.loc[73313,'Zipcode'] = 64114
# crime['Zipcode'] = pd.to_numeric(crime['Zipcode'])
print(crime.loc[[77313]])

       Report_No Reported_Date Reported_Time  From_Date From_Time To_Date  \
77313  170046312     5/19/2017         21:49  5/19/2017     21:30     NaN

      To_Time  Offense IBRS      Description   ...    Involvement Race Sex  \
77313     NaN     1401  290  Property Damage   ...            VIC    B   F

        Age Firearm Used Flag                                       Location  \
77313  28.0                 N  125 TE and STATE LINE RD\nKANSAS CITY M 64114

                      Address 1            Address 2 Coordinates Zipcode
77313  125 TE and STATE LINE RD  KANSAS CITY M 64114        None       M

[1 rows x 28 columns]

In [64]:
crime.loc[77313,'Zipcode'] = 64114
crime['Zipcode'] = pd.to_numeric(crime['Zipcode'])

In [66]:
main = crime.merge(census, left_on='Zipcode', right_on='Zipcode', how='left')
main.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Address 1,Address 2,Coordinates,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,170086272,10/5/2017,10:00,10/4/2017,16:00,10/5/2017,10:00,690,23H,Stealing All Other,...,400 W 58 ST,KANSAS CITY 64113,"(39.022397, -94.59269)",64113.0,11718.0,41.7,113536.0,66601.0,310.0,2.645503
1,170026074,4/12/2017,13:01,3/20/2017,11:30,4/11/2017,0:45,630,23C,Stealing Shoplifting,...,3500 PROSPECT AV,KANSAS CITY 64127,None,64127.0,15419.0,34.5,21494.0,12924.0,6167.0,39.996109
2,170003559,1/15/2017,2:35,1/15/2017,2:35,NaN,NaN,1850,35B,Possession of Drug E,...,N NW GREEN HILLS RD,KANSAS CITY 64152,None,64152.0,26430.0,38.3,79368.0,39910.0,1342.0,5.077563
3,170001089,1/5/2017,11:40,1/5/2017,11:40,NaN,NaN,1849,35A,Possession/Sale/Dist,...,1100 TROOST AV,KANSAS CITY 64106,"(39.10068, -94.569846)",64106.0,8125.0,28.1,25649.0,18949.0,3773.0,46.436923
4,170007467,1/30/2017,13:04,1/27/2017,21:25,1/27/2017,22:30,670,23D,Stealing from Buildi,...,4800 E 24 ST,KANSAS CITY 64127,"(39.08209, -94.52746)",64127.0,15419.0,34.5,21494.0,12924.0,6167.0,39.996109

In [67]:
main.to_csv('combined.csv')